name: Release Package

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run ci

      - uses: actions/setup-node@v4 # Set up Node.js just for the npm publish step
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: "@enibrn"
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}